html{font-family: 'Open Sans', helvetica, arial, sans-serif;}

h1,h2,h3,h4,h5,h6{font-family: 'Solway', serif;}


h1{
  font-size: 100px;
  margin: 0px;
}
ul{
  margin: 0;
  padding: 0;
  list-style:none;
}
p{font-size: 16px;}
br{display:none;}
a{
  text-decoration: none;
  color: #40AFFE;
}
body{
  max-width: 1120px;
  /* padding: 40px; */
  margin: 0 auto;
  color: #222;
  position: relative;
}

.webMenu, .mobileMenu {
  display: none;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  background: green;
  width: 100%;
  z-index: 100;  
  /* height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: red;
  position: fixed;
  left: 0;
  top: 0; */

  }


.openmenu{
  display: block;
  background: #222;
}












@media only screen and (min-width: 500px) {
  /* Style adjustments for viewports that meet the condition */

h1{
  font-size: 70px;
}
p{font-size: 24px;}
br{display: block;}

header{
  height: 160px;
}




.logo{display: block;}

nav{display: block;}

nav a{
  background: white;
  margin-left: 40px;
  padding: 4px 20px;
  font-weight: bold;
  transition: all linear .3s;
  display: inline-block;
}

nav a:hover{
  color: #7275C1;
  transform: scale(1.2);
}


.hero{
  height: 480px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hero a{
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
  }

.hero a:hover i{
  opacity: 100%;
  transform: translate(0,0);
}

.hero a i{
  opacity: 0;
  transition: all linear .5s;
  transform: translate(-10px,10px);
  margin-left: 10px;

}

.container{width: 60%;}

.fa-chevron-double-down {
  width: 100%;
  margin: 50px 0 150px;
  text-align: center;
  font-size: 30px;
  color: #40AFFE;
  transition: all linear .2s;
}

.fa-chevron-double-down:hover{
  color: #7275C1;
  transform: scale(1.5);
}

article{
  height: 660px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 150px;
  /* border: solid 1px green; */
}

.description{
  width: 347px;
  z-index: 30;
}

h2{
  font-size: 40px;
  margin: 20px 0;
}

.description a{
  font-weight: bold;
  text-align: right;
  display: block;
  color: #222;
  transition: all linear .2s;
}

.description a .fad{
  transition: all linear .2s;
}

.description a:hover{
  color: #40AFFE;
}

.description a:hover .fad{
  transform: translateX(10px);
}

.description li{
  font-size: 12px;
  font-weight: bold;
  background: #C9DBD9;
  border-radius: 53px;
  text-decoration: none;
  display: inline-block;
  padding: 4px 10px;
  margin-right: 10px;
}

.a02 li{
  background: #D2BCE8;
}

.a03 li{
  background: #FBD7A1;
}

.preview{
  width: 733px;
  height: 400px;
  position: relative;
}

.number{
  font-size: 288px;
  font-weight: 800;
  color: #6D838C;
  opacity: 10%;
  position: absolute;
  right: -140px;
  top: -50%;
  z-index: 10;
}

.preview img{
  position: absolute;
  z-index: 20;
  bottom: -30%;
}

.box{
  width: 100%;
  height: 400px;
  background-color: #C9DBD9;
  position: absolute;
  z-index: 1;
}

.a03 .number{
  color: #D8AD6E;
  opacity: 20%;
}
.a03 .box {background-color: #FBD7A1;}


.a02{ flex-direction: row-reverse;}
.a02 img{left: 20%;}
.a02 .number{
  color: #AE91CB;
  opacity: 20%;
  right: auto;
  left: -140px;
}
.a02 .box {background-color: #D2BCE8;}

footer{
  height: 160px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: solid 2px #D9EFFF;
}

footer ul a{
  background: white;
  margin-right: 20px;
  font-size: 24px;
  display: inline-block;
  transition: all linear .2s;
}

footer ul a:hover{
  color: #7275C1;
  transform: scale(1.5);
}
}
